<footer class="footer">
  <h3>{{ 'CONTACT' | translate }}</h3>
  <section id="contact" class="footer_section">
    <ul class="footer_list">
      <li><i class="fa-solid fa-phone"></i>+34 62431-2028</li>
      <li><i class="fa-solid fa-envelope"></i>diegodanielcaceres10@gmail.com</li>
    </ul>
    <div class="footer_icons">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/diego-daniel-caceres-1328991aa/"
        class="footer_icon"
        ><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a
      >
      <a target="_blank" href="https://github.com/diegodanielcaceres10" class="footer_icon"
        ><i class="fa-brands fa-square-github"></i><span>GitHub</span></a
      >
      <a target="_blank" href="https://www.npmjs.com/~diegodanielcaceres10" class="footer_icon"
        ><i class="fa-brands fa-npm"></i><span>Npm</span></a
      >
    </div>
  </section>
  <p class="footer_copyright"><i class="fa-regular fa-copyright"></i> 2026 Diego Daniel Cáceres</p>
</footer>
