@use 'index' as ds;

.footer {
  border: 1px solid var(--border-color-deep);
  display: flex;
  justify-content: center;

  &_copyright {
    color: var(--text-muted);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    margin: var(--spacing-2xl) 0;
  }
}
