@import 'breakpoints';
@import 'colors';

.footer {
  background: $color-primary;
  padding: 5rem;

  @include md {
    padding: 5rem 2rem;
  }

  & hr {
    background: $color-secondary;
    margin: 5rem 0;
  }

  &_section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include md {
      flex-direction: column;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    width: 40vw;

    @include md {
      align-items: center;
      margin: 5rem 0;
      width: 100%;
    }

    & span {
      display: flex;
      margin: 0.2rem 0;

      & i {
        padding-right: 0.5rem;
      }
    }
  }

  &_icons {
    display: flex;
    justify-content: center;
  }

  &_icon {
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 4rem;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    width: 4rem;

    & span {
      background: $color-white;
      border-radius: 2px;
      bottom: 0;
      color: $color-secondary;
      opacity: 0;
      padding: 0.2rem 1rem;
      position: absolute;
      visibility: hidden;

      -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:before {
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-top: 0.4rem solid $color-white;
        bottom: -0.3rem;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
      }
    }

    & i {
      color: $color-alternative-1;
      font-size: 2rem;
    }

    &:hover {
      & i {
        color: $color-white;
      }

      & span {
        bottom: 4rem;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &_copyright {
    color: $color-alternative-2;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & i {
      padding: 0 0.2rem;
    }
  }
}
