<footer class="footer">
  <section class="footer_section">
    <div class="footer_container section-container">
      <div class="footer_text">
        <h3>{{ 'CONTACT_TITLE' | translate }}</h3>
        <p>{{ 'CONTACT_SUBTITLE' | translate }}</p>
      </div>
      <div class="footer_list">
        <div class="footer_list_card">
          <div class="footer_list_item">
            <div class="footer_list_item_icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="footer_list_item_text">
              <small>{{ 'CONTACT_EMAIL_LABEL' | translate }}</small>
              <strong>diegodanielcaceres10@gmail.com</strong>
            </div>
          </div>
          <div class="footer_list_item">
            <div class="footer_list_item_icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="footer_list_item_text">
              <small>{{ 'CONTACT_PHONE_LABEL' | translate }}</small>
              <strong>+34 62431-2028</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_links">
        <h3>{{ 'CONTACT_SOCIAL_TITLE' | translate }}</h3>
        <div class="footer_links_item">
          <div class="footer_links_item_icon">
            <i class="fa-brands fa-linkedin"></i>
          </div>
          <div class="footer_links_item_text">
            <strong>Linkedin</strong>
          </div>
          <div class="footer_links_item_link">
            <a target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile of Diego Daniel Caceres" href="https://www.linkedin.com/in/diego-daniel-caceres-1328991aa/"><i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
        <div class="footer_links_item">
          <div class="footer_links_item_icon">
            <i class="fa-brands fa-square-github"></i>
          </div>
          <div class="footer_links_item_text">
            <strong>GitHub</strong>
          </div>
          <div class="footer_links_item_link">
            <a target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile of Diego Daniel Caceres" href="https://github.com/diegodanielcaceres10"><i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
        <div class="footer_links_item">
          <div class="footer_links_item_icon">
            <i class="fa-brands fa-npm"></i>
          </div>
          <div class="footer_links_item_text">
            <strong>npm</strong>
          </div>
          <div class="footer_links_item_link">
            <a target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile of Diego Daniel Caceres" href="https://www.npmjs.com/~diegodanielcaceres10"><i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <span class="footer_copyright"><i class="fa-regular fa-copyright"></i> 2026 Nura | Diego Daniel Caceres</span>
  </section>
</footer>
