@import 'variables';

.footer {
  background: $color-primary;
  padding: 5rem 2rem;

  &_section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }

  &_list {
    width: 40vw;

    & i {
      padding-right: 0.5rem;
    }
  }

  &_icons {
    display: flex;
    justify-content: center;
  }

  &_icon {
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 4rem;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    width: 4rem;

    & span {
      background: $color-white;
      border-radius: 2px;
      bottom: 0;
      color: $color-text-muted;
      opacity: 0;
      padding: 0.2rem 1rem;
      position: absolute;
      visibility: hidden;

      -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:before {
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-top: 0.4rem solid $color-white;
        bottom: -0.3rem;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
      }
    }

    & i {
      color: $color-text-muted;
      font-size: 2rem;

      &:hover {
        color: $color-white;
      }
    }

    &:hover span {
      bottom: 4rem;
      visibility: visible;
      opacity: 1;
    }
  }

  &_copyright {
    color: $color-text-muted;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    & i {
      padding: 0 0.2rem;
    }
  }
}
