services:
  frontend:
    build:
      context: ./frontend
    container_name: nura-frontend
    env_file:
      - .env
    ports:
      - "${PORT}:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
