$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

@mixin xs {
  @media (max-width: $bp-xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $bp-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $bp-xl) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: $bp-xxl) {
    @content;
  }
}
