@import 'colors';
@import 'variables';

.projects {
  background: linear-gradient(45deg, $color-primary 3%, $color-secondary 38%, $color-primary 98%);
  padding: 5rem;

  &_cards {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  &_card {
    height: 35rem;
    perspective: 1000px;
    width: 100%;

    &_container {
      height: 100%;
      position: relative;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
      width: 100%;
    }

    &_front,
    &_back {
      backface-visibility: hidden;
      border-radius: 1rem;
      display: flex;
      height: 100%;
      justify-content: center;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }

    &_front {
      align-items: center;
      background: $color-white;
      border: 0.2rem solid $color-primary;
      box-shadow: $box-shadow;
    }

    &_back {
      align-items: center;
      background: $color-primary;
      flex-direction: column;
      justify-content: space-between;
      transform: rotateY(180deg);

      & h4 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
    }

    &_background {
      height: 100%;
      filter: grayscale(40%);
      object-fit: cover;
      opacity: 0.7;
      width: 100%;
    }

    &_logo {
      position: absolute;
      width: 50%;

      & img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }

    &_info {
      flex: 1;
      padding: 0 2rem;
    }

    &_techs {
      width: 90%;

      & strong {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      & a {
        align-items: baseline;
        display: flex;
        margin: 1rem 0;
        justify-content: center;

        & i {
          padding-left: 0.5rem;
        }
      }
    }

    &_bar {
      background: white;
      border-radius: 1rem;
      display: flex;
      height: 0.5rem;
      overflow: hidden;
      position: relative;
    }

    &_legends {
      display: flex;
      font-size: 0.9rem;
      justify-content: center;
      margin-top: 0.5rem;
      width: 100%;
    }

    &_separator {
      margin: 0 0.3rem;
      opacity: 0.5;
    }

    &:hover &_container {
      transform: rotateY(-180deg);
    }
  }
}
