<section class="projects page-section">
  <div class="projects__container">
    <app-title-component title="PROJECTS_TITLE" subtitle="PROJECTS_SUBTITLE" intro="PROJECTS_DESCRIPTION" />

    <div class="projects__grid">
      @for (project of projects(); track project.id) {
        <article class="projects__card" role="button" tabindex="0">
          <div class="projects__content">
            <app-project-card-component [project]="project" />
          </div>
          <div class="projects__footer">
            <a class="projects__action" [href]="project.links.repo" target="_blank" rel="noopener">
              <i class="fa-brands fa-github"></i>
              Repo
              <i class="fa-solid fa-up-right-from-square"></i>
            </a>

            <button class="projects__action" (click)="openProject(project)" (keydown.enter)="openProject(project)" (keydown.space)="openProject(project)">
              Ver mas
              <i class="fa-solid fa-arrow-right-long"></i>
            </button>
          </div>
        </article>
      }
    </div>
  </div>

  @if (activeProject(); as project) {
    <app-project-modal-component [project]="project" (onCloseProject)="closeProject()" />
  }
</section>
