@import 'breakpoints';
@import 'colors';
@import 'variables';

.about {
  background: linear-gradient(45deg, $color-primary 3%, $color-secondary 38%, $color-primary 98%);
  padding: 5rem;

  &_container {
    display: flex;
    gap: 5rem;

    @include md {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &_text {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-style: italic;

    & hr {
      background: $color-primary;
      margin: 0.5rem 0;
    }
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  }

  &_tag {
    border: 0.1rem solid $color-white;
    border-radius: 2rem;
    display: flex;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
      background: $color-white;
      color: $color-secondary;
    }
  }

  &_photo {
    filter: grayscale(50%);
    overflow: hidden;
    transition: filter 0.3s ease;
    width: 25rem;

    @include lg {
      width: 20rem;
    }

    &:hover {
      filter: grayscale(0%);
    }

    & img {
      border: 0.5rem solid $color-primary;
      border-radius: 2rem;
      box-shadow: $box-shadow;
      object-fit: contain;
      width: 100%;
    }
  }
}
