@import 'variables';

.about {
  padding: 5rem;

  &_container {
    display: flex;
    gap: 5rem;
  }

  &_text {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-style: italic;
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  }

  &_tag {
    border: 0.1rem solid $color-white;
    border-radius: 2rem;
    display: flex;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
      background: $color-white;
      color: $color-secondary;
    }
  }

  &_photo {
    filter: grayscale(50%);
    overflow: hidden;
    transition: filter 0.3s ease;
    width: 25rem;

    &:hover {
      filter: grayscale(0%);
    }

    & img {
      border: 0.5rem solid $color-primary;
      border-radius: 2rem;
      box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      object-fit: contain;
      width: 100%;
    }
  }
}
