@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.about {
  padding: 0 5rem;

  &_carousel {
    display: flex;
    background: white;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      content: '';
      height: 100%;
      position: absolute;
      width: 5rem;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  &_track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: 100%;
  }

  &_slide {
    height: 4rem;
    flex-shrink: 0;
    flex-grow: 0;
    width: 20%;

    & img {
      filter: grayscale(40%);
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}
