@import 'variables';

.experiences {
  padding: 5rem;

  &_cards {
    display: grid;
    gap: 5rem;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  &_card {
    background: $color-primary;
    border-radius: 0.5rem;
    box-shadow:
      rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    padding: 1rem;
  }

  &_container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    &-first {
      width: 30rem;
    }

    & h4 {
      margin-top: 0;
    }
  }

  &_title {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  &_period {
    color: $color-text-muted;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  &_skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 1rem;

    & i {
      align-items: center;
      border: 0.1rem solid $color-white;
      border-radius: 3rem;
      display: flex;
      font-size: 1.5rem;
      height: 3rem;
      justify-content: center;
      width: 3rem;

      transition: font-size 0.1s ease;

      &:hover {
        background: $color-white;
        color: $color-primary;
      }
    }
  }
}
