<section class="experiences">
  <h2>{{ 'EXPERIENCE' | translate }}</h2>
  <div class="experiences_cards">
    @for (experience of experiences; track experience.roleKey) {
      <div class="experiences_card">
        <div class="experiences_container experiences_container-first">
          <h4 class="experiences_title">{{ experience.company }}</h4>
          <span>{{ experience.roleKey | translate }}</span>
          <span class="experiences_period">{{ experience.periodKey | translate }}</span>
          <div class="experiences_skills">
            @for (skill of experience.skills; track $index) {
              <i [class]="skill"></i>
            }
          </div>
        </div>
        <div class="experiences_container">
          <span
            ><b>{{ 'RESPONSIBILITIES' | translate }}</b></span
          >
          <ul>
            @for (responsibility of experience.responsibilityKeys; track $index) {
              <li>{{ responsibility | translate }}</li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</section>
