<section class="experiences">
  <div class="experiences_cards section-container">
    <h2>{{ 'EXPERIENCE' | translate }}</h2>
    <div class="experiences_content">
      @for (experience of experiences; track experience.roleKey) {
        <div class="experiences_row">
          <div class="experiences_timeline">
            <span class="experiences_period">{{ experience.startPeriodKey | translate }} - </span>
            <span class="experiences_period">{{ experience.endPeriodKey | translate }}</span>
          </div>
          <div class="experiences_dot"></div>
          <div class="experiences_card">
            <div class="experiences_container">
              <h3 class="experiences_title">{{ experience.company }}</h3>
              <span>{{ experience.roleKey | translate }}</span>
              <div class="experiences_skills">
                @for (skill of experience.skills; track $index) {
                  <i [class]="skill"></i>
                }
              </div>
            </div>
            <div class="experiences_container">
              <h3>{{ 'RESPONSIBILITIES' | translate }}</h3>
              @for (responsibility of experience.responsibilityKeys; track $index) {
                <div class="experiences_bullet">
                  <i class="fa-solid fa-check"></i>
                  <p>{{ responsibility | translate }}</p>
                </div>
              }
              <strong>{{ experience.roleShortKey | translate }}</strong>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
