@use './../../../styles/colors.scss';

.experiences {
  padding: 5rem;

  &_cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  &_card {
    background: colors.$whiteText;
    border: 1px solid #959da533;
    border-radius: 0.5rem;
    box-shadow: #959da533 0 0 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &_title {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  &_period {
    color: colors.$offWhiteText;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  &_skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 1rem;

    & i {
      align-items: center;
      background: #f3f3f3;
      border-radius: 3rem;
      display: flex;
      filter: grayscale(40%);
      font-size: 1.5rem;
      height: 3rem;
      justify-content: center;
      width: 3rem;

      transition: font-size 0.1s ease;

      &:hover {
        filter: none;
        font-size: 2rem;
      }
    }
  }
}
