/* You can add global styles to this file, and also import other style files */
@import 'styles/typography';
@import 'styles/variables';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-secondary;
  color: $color-white;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-style: italic;
}

img {
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

button:active,
button:hover {
  outline: 0;
}
