/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

section h3 {
    color: #0f172a;
    margin-bottom: 0.5rem;
}

section p,
section ul {
    color: #334155;
    line-height: 1.5;
}

ul li {
    margin-bottom: 0.5rem;
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
