/* You can add global styles to this file, and also import other style files */
@use 'styles/colors';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  font-family: 'Google Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
