@import 'colors';
@import 'variables';

.header {
  align-items: center;
  background-color: transparent;
  color: $color-white;
  display: flex;
  height: 5rem;
  justify-content: end;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  transition:
    background-color 0.4s ease,
    box-shadow 0.4s ease;
  width: 100%;
  z-index: 1000;

  & nav {
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
    padding: 1rem;
  }

  &.sticky {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-bottom: 0.2rem solid $color-secondary;
    box-shadow: $box-shadow;
    color: $color-white;

    & nav {
      font-size: 0.9rem;
    }
  }
}
