<header [class.sticky]="isSticky()" class="header">
  <button type="button" (click)="toogleMenu()" class="header_button" aria-label="Toggle menu">
    <i [class.hide]="isMenuOpen()" class="fa-solid fa-bars"></i>
    <i [class.hide]="!isMenuOpen()" class="fa-solid fa-xmark"></i>
  </button>
  <div [class.header_container-open]="isMenuOpen()" class="header_container">
    <div class="header_icon"><img src="favicon-32x32.png" alt="Nura Logo" /><span>Nura</span></div>
    <nav class="header_nav">
      <a (click)="toogleMenu()" href="#about">{{ 'MENU_ABOUT_ME' | translate }}</a>
      <a (click)="toogleMenu()" href="#experiences">{{ 'MENU_EXPERIENCE' | translate }}</a>
      <a (click)="toogleMenu()" href="#projects">{{ 'MENU_PROJECTS' | translate }}</a>
      <a (click)="toogleMenu()" href="#contact">{{ 'MENU_CONTACT' | translate }}</a>
    </nav>
    <div class="header_langs">
      @for (lang of langs; track lang.code) {
        <button class="header_lang" [class.active]="currentLang() === lang.code" (click)="changeLang(lang.code)">
          {{ lang.flag }}
        </button>
      }
    </div>
  </div>
</header>
