@import 'colors';
@import 'variables';

.header {
  align-items: center;
  background-color: transparent;
  color: $color-white;
  display: flex;
  height: 5rem;
  justify-content: end;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  transition:
    background-color 0.4s ease,
    box-shadow 0.4s ease;
  width: 100%;
  z-index: 1000;

  & nav {
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
    padding: 1rem;
  }

  &.sticky {
    background: $transparent;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-bottom: 0.2rem solid $color-secondary;
    box-shadow: $box-shadow;
    color: $color-white;

    & nav {
      font-size: 0.9rem;
    }
  }

  &_langs {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
    padding: 1rem;
  }

  &_lang {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}
