<header [class.sticky]="isSticky()" class="header">
  <nav>
    <a href="#about">{{ 'MENU_ABOUT_ME' | translate }}</a>
    <a href="#experiences">{{ 'MENU_EXPERIENCE' | translate }}</a>
    <a href="#projects">{{ 'MENU_PROJECTS' | translate }}</a>
    <a href="#contact">{{ 'MENU_CONTACT' | translate }}</a>
  </nav>
  <div class="header_langs">
    @for (lang of langs; track lang.code) {
      <button
        class="header_lang"
        [class.active]="currentLang() === lang.code"
        (click)="changeLang(lang.code)"
      >
        {{ lang.flag }}
      </button>
    }
  </div>
</header>
